body{
    background-image: url('bg.jpg')
}

.main_box{
    background-color: white;
    margin: auto;
    width: 70%;
    padding: 1px 18px 18px 18px;
}

.heading{
    background-color: aqua;
   
}

.heading_text1{
    text-align: right;
  

}
.heading_text2{
    text-align: right;
    margin-top: -20px;
    font-size: 20px;
    font-weight: bold;
}

.friends{
    background-color: lightblue;
    width: 200px;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    font-family: 'Arial';
}

.enteries{
    width: 800px;
    margin-left: 250px;
    margin-top: -160px;
}

.specific_entry{
    background-color: aqua;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    margin-bottom: 20px;
}

.image1{
    width: 180px;
    height: 150px;
    margin-top: -25px;
    margin-left: 580px;
}